<style>
    #welcome {
        text-align: center;
    }
</style>

<div id="welcome">
    <h1>MICHAEL'S BLOG</h1>
    <p>
        Welcome to my blog, where I will share short stories, advice, and even anecdotes. I’m an aspiring novelist and very new to the blogging space, so if you like what you read, please subscribe and share. It helps so much! Also, please feel free to leave your blog in the comments so I can give you a follow—I’m always looking to support fellow authors. Lastly, if you want to access my content, click or tap the icon at the top-left corner of the screen.
    </p>
    <p>
        Best wishes, Michael!
    </p>
</div>
